html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.background {
  height: 100vh;
  width: auto;
  background-color: rgb(15, 23, 42);
}

/*
 * Fonts
 */

@font-face {
  font-family:"nice";
  src: url("fonts/JetBrainsMono-Light.ttf") format("truetype");
}

@font-face {
  font-family:"medium";
  src: url("fonts/SFNSDisplay-Medium.ttf") format("truetype");
}

@font-face {
  font-family:"light";
  src: url("fonts/SFNSDisplay-Thin.ttf") format("truetype");
}
